In [3]:
%%javascript
var rate = 0;
// apply setting to  all current CodeMirror instances
IPython.notebook.get_cells().map(
    function(c) {  return c.code_mirror.options.cursorBlinkRate=rate;  }
);

// make sure new CodeMirror instance also use this setting
CodeMirror.defaults.cursorBlinkRate=rate;

In [4]:
import pandas as pd

In [5]:

# Esempio di DataFrame
data = {'Numeri': [0.233333, 345556.34454, 0.12345, 67890.678]}
df = pd.DataFrame(data)

# Funzione per rimuovere la parte decimale se il numero non inizia per zero
def remove_decimal(num):
    if str(num).startswith('0'):
        return num
    else:
        return int(num)

# Applica la funzione alla colonna 'Numeri'
df['Numeri'] = df['Numeri'].apply(lambda x: remove_decimal(x))

# Stampa il DataFrame risultante
print(df)

#In questo esempio, la funzione remove_decimal() controlla se il numero inizia per zero convertendo il n

          Numeri
0       0.233333
1  345556.000000
2       0.123450
3   67890.000000

In [1]:
print('paolo')

paolo

In [2]:
print('Ancona')

Ancona